<div class="bd-example bd-example-tabs" role="tabpanel">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Attending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="false">Friends Upcoming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="History-tab" data-toggle="tab" href="#History" role="tab" aria-controls="History" aria-expanded="false">History</a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab" aria-expanded="true">
      <% @all_attending_events.sort_by(&:date).reverse.each do |all_attending_event| %>
        <div class="container">
          <div class="row">
            <div class="col-12 color-row" >

              <div class="container test-border">
                <div class="row evt-feed-img test-border">
                    Event IMG ERB Here
                    <p><%= all_attending_event.title %></p>
                    <p><%= time_formatter(all_attending_event.date) %></p>
                    <p><%= all_attending_event.location %></p>
                    <p><%= all_attending_event.creator.full_name %></p>
                </div>
              </div>

              <div class="container test-border">
                <div class="row test-border">
                    <div class="col-6 test-border">
                      Message
                    </div>
                    <div class="col-6 test-border">
                      Join
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
      <% @all_friends_events.sort_by(&:date).reverse.each do |friends_event| %>

      <div class="container">
        <div class="row">
          <div class="col-12 color-row" >

            <div class="container test-border">
              <div class="row evt-feed-img test-border">
                  Event IMG ERB Here
                  <p><%= friends_event.title %></p>
                  <p><%= time_formatter(friends_event.date) %></p>
                  <p><%= friends_event.location %></p>
                  <p><%= friends_event.creator.full_name %></p>
              </div>
            </div>

            <div class="container test-border">
              <div class="row test-border">
                  <div class="col-6 test-border">
                    Message
                  </div>
                  <div class="col-6 test-border">
                    Join
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>

      <% end %>

    </div>

    <div class="tab-pane fade" id="History" role="tabpanel" aria-labelledby="History-tab" aria-expanded="false">
      <% @past_events.sort_by(&:date).reverse.each do |past_event| %>

      <div class="container">
        <div class="row">
          <div class="col-12 color-row" >

            <div class="container test-border">
              <div class="row evt-feed-img test-border">
                  Event IMG ERB Here
                  <p><%= past_event.title %></p>
                  <p><%= time_formatter(past_event.date) %></p>
                  <p><%= past_event.location %></p>
                  <p><%= past_event.creator.full_name %></p>
              </div>
            </div>

            <div class="container test-border">
              <div class="row test-border">
                  <div class="col-6 test-border">
                    Message
                  </div>
                  <div class="col-6 test-border">
                    Join
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>

      <% end %>

    </div>



  </div>
</div>
