

<div class="container">
  <div class="row">
    <div class="col-12 evt-img">
        <!-- <%= image_tag @photo.attachment_url(@photo.id) %> -->
    </div>
      <div class="col-12">
        <%= link_to "New Picture", photos_new_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<div>
  <%= @event.creator.full_name %>
</div>

<div>
  <% @event.users.each do |user| %>
    <p>
      <%= user.full_name %>
    </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Join', user_events_path(:user_event => {event_id: @event.id, user_id: current_user.id}), method: :post %>
