<div id="fullpage">
    <div class="section active" id="section0">
      <div class="scrollable-element">
          <br>
          <br>
          <div class="box1">
              <div class="center-cropped">
    						<% if @event.photos.exists? %>
                  <%= image_tag @event.photos.first.attachment_url, :class => 'img-responsive' %>
                <% else %>
                    <%= image_tag('camera.png') %>
                <% end %>
              </div>
          <br>
					<br>
              <%= link_to "New Picture", new_event_photo_path(@event.id), class: "btn btn-primary" %>
					</div>

          <div class="box2">
            <h2><%= @event.title %></h2>
              <p><h6><%= time_formatter(@event.date) %></h6></p>
              <p><h6><%= @event.location %></h6></p>
              <p>
                <%= image_tag("#{@event.creator.picture_url}", :class => "avatar-img") %>
								<br>
								<h6><%= (@event.creator.full_name).split.first %></h6>
              </p>
              <% if @event.user_events.exists?(user_id: current_user.id) %>
                <% elsif @event.creator_id == current_user.id %>
                <% else %>
                <%= link_to 'Join', user_events_path(:user_event => {event_id: @event.id, user_id: current_user.id}), method: :post, class: "btn btn-primary" %>
              <% end %>
          </div>


          <div class="box3">
          <h2>Groop</h2>
            <div class="box3-1">
              <% @event.users.each do |user| %>
                <span>
                <%= image_tag("#{user.picture_url}", :class => "avatar-img") %>
  							<br>
  							<h6><%= (user.full_name).split.first %></h6>
                </span>
              <% end %>
            </div>
          </div>

    </div>
  </div>
</div>
