<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New Picture", pictures_new_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @pictures.each do |picture| %>

         <tr>
            <td><%= picture.name %></td>
            <td><%= link_to "Download Picture", picture.attachment_url %></td>
            <td><%= button_to "Delete",  picture, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{picture.name}?" %></td>
         </tr>

      <% end %>
   </tbody>

</table>
