
 <%= form_with(model: [@event, photo], local: true, html: { multipart: true }) do |f| %>

    <strong><h5><%= f.label :name %></h5></strong>
    <%= f.text_field :name %>
    <br>
    <br>

    <strong><h5><%= f.label :attachment %></h5></strong>
    <%= f.file_field :attachment %>
    <br>
    <%= f.hidden_field :event_id %>

    <br>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
