
<div class = "well">
   <%= form_with(model: [@event, photo], local: true, html: { multipart: true }) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.hidden_field :event_id %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
