<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @photo.attachment %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @photo.event %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
