<div id="header">
  <div class="container bar">

    <div class="navbar-logo">
      <% if current_user %>
        <%= link_to events_path do %>
          <%= image_tag "groop-logo.png", :class => "logo_img" %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag "groop-logo.png", :class => "logo_img" %>
        <% end %>
      <% end %>
    </div>
    <ul class="navbar-right">
        <%= render 'layouts/navigation_links' %>
    </ul>

  </div>
</div>
